.iframe{
  display: flex;
  justify-content: center;
  align-items: center;
}
.none{
  display: none;
}
.open-img{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 41px;
  background: url('../icons/open-eye.png');
  background-size: cover;
  cursor: pointer;
}
.close-img{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 41px;
  background: url('../icons/close-eye.png');
  background-size: cover;
  cursor: pointer;
}
.top{
  width: 100%;
}
.forget{
  text-align: end;
  color:#e25227;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}
.pay{
  .pay-introduce{
    max-width: 224px;
  }
  .pay-title{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  .pay-flex{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  .pay-price{
    text-align: right;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .pay-money{
    color: #e25227;
  }
  .pay-select{
    border: 1px solid grey;
    border-radius: 6px;
    padding: 5px 15px;
    margin: auto;
    width: 80%;
    margin-top: 10px;
    text-align: center;
  }
  .pay-pup{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    margin-right: 6px;
  }
}

.price{
  color: #e25227;
}
.name{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.list{
  max-height: 390px;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.addtional{
  position: absolute;
  top: 3.4rem;
  left: 6.5rem;
  color: grey;

  .addtional-active{
    color: hwb(203 29% 10%);
    cursor: pointer;
  }
}
.login {
    width: 100vw;
    height: 100vh;
    z-index:99999 !important;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(109,113,117,0.6);
    .login-delete{
      position: absolute;
      color: #000;
      cursor: pointer;
      right: 20px;
      rotate: 45deg;
      font-size: 36px;
      top: 20px;
    }
    .login-title1{
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px;
    }
    .login-text{
      font-size: 22px;
      text-align: center;
    }
    .login-button{
      font-size: 23px;
      color: #fff;
      background-color: #e25227;
      padding: 10px 20px;
      width: 100px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 15px;

    }
    .login-main {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 400px;
      padding: 40px;
      background: white;
      border-radius: 8px;
      box-shadow: -10px -10px 30px rgba(0,0,0,0.2);
      transform: translate(-50%, -50%);
  
      .logo {
        width: 200px;
        height: 60px;
        // background: url("../icons/logo.png");
        background-size: 200px 60px;
      }
      .login-img {
        width: 200px;
        height: 240px;
        background: url("../icons/wx.jpg");
        background-size: 200px 240px;
      }
  
      .login-title {
        margin-bottom: 10px;
        div:first-child {
          font-size: 28px;
          font-weight: 600;
        }
  
        div:last-child {
          font-size: 16px;
          color: rgba(109,113,117,1);
        }
      }
  
      .form-box {
        margin-top: 30px;
        width: 100%;
  
        .form-item {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-top: 10px;
  
          .form-item-title {
            margin-bottom: 10px;
            font-size: 14px;
          }
          .form-item-get {
            position: absolute;
            margin-bottom: 10px;
            right: 3px;
            top:32.5px;
            border-left: 1px solid #ccc;
            padding: 8px 15px;
            font-size: 14px;
            cursor: pointer;
          }
  
          input {
            box-sizing: border-box;
            max-width: 100% !important;
            padding: 10px;
            padding-right: 100px;
            border: 1px solid #8c9196;
            outline-width: 1px;
            outline-color: #e25227;
            text-align: left;
          }
  
          .code {
            position: absolute;
            right: 20px;
            bottom: 0;
            font-size: 14px;
            color: #3981f4;
            cursor: pointer;
            transform: translate(0, -50%);
          }
        }
      }
      .form-box1 {
        background-color: #eee;
        border-radius: 0 1.2rem 0rem 1.2rem;
        margin-right: 0.5rem;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 10px;
        width: 42%;
        .form-buy{
          background-color:skyblue;
          color: #fefefe;
          padding: 5px 10px;
          text-align: center;
          border-radius: 6px;
          cursor: pointer;
        }
  
        .form-item {
          position: relative;
          display: flex;
          flex-direction: column;
          margin-top: 10px;
  
          .form-item-title {
            margin-bottom: 10px;
            font-size: 14px;
          }
          .form-item-get {
            position: absolute;
            margin-bottom: 10px;
            font-size: 14px;
            right: 3px;
            top:32.5px;
            padding: 8px 15px;
            border-radius: 5px;
            border-left: 1px solid #000;
          }
  
          input {
            box-sizing: border-box;
            max-width: 100% !important;
            padding: 10px;
            padding-right: 100px;
            border: 1px solid #8c9196;
            outline-width: 1px;
            outline-color: #e25227;
          }
  
          .code {
            position: absolute;
            right: 20px;
            bottom: 0;
            font-size: 14px;
            color: #3981f4;
            cursor: pointer;
            transform: translate(0, -50%);
          }
        }
      }
  
      .submit {
        width: 100%;
        padding: 10px 0;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        text-align: center;
        cursor: pointer;
        background: #e25227;
      }
      .sign {
        width: 100%;
        padding: 10px 0;
        font-size: 18px;
        font-weight: bold;
        color: white;
        text-align: center;
        cursor: pointer;
        background: grey;
      }
    }
  }
  
  // h5
  @media screen and (max-width: 768px) {
    .login {
      background: white;
  
      .login-main {
        width: 90%;
        box-shadow: none;
      }
    }
  }
  .login-content{
    margin: 15px 0px;
  }
  .login-code{
    background-image: url(../icons/customer.png);
    width: 300px;
    height: 320px;
  }