@import "../styles/animation.scss";
.check{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(157,158,211,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  // left: 50px;
  // top:160px;

}
.start{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  // position: absolute;
  // right: 30px;
  // top:140px
}

.middle{
  display: flex;
}

.mask-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mask-solid{
  width: 60%;
  height: 2px;
  border-top: 1px solid rgba(157,158,211);
  border-bottom: 1px solid rgba(157,158,211);
  margin: -5px 10px;
}
.mask-solids{
  width: 30%;
  height: 2px;
  border-top: 1px solid rgba(157,158,211);
  border-bottom: 1px solid rgba(157,158,211);
  margin: 0px 10px;
}
.new-chat {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .mask-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    animation: slide-in-from-top ease 0.3s;
  }

  .mask-cards {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 20px;
    animation: slide-in ease 0.3s;

    .mask-card {
      padding: 20px 10px;
      border: var(--border-in-light);
      box-shadow: var(--card-shadow);
      border-radius: 14px;
      background-color: var(--white);
      transform: scale(1);

      &:nth-child(2n) {
        transform: rotate(-30deg) translateY(5px);
      }

      &:nth-child(2n-1) {
        transform: rotate(30deg) translateY(5px);
        scale: 1.2;
      }
      &:nth-child(4n) {
        transform: rotate(0deg) translateY(5px);
        scale: 0.8;
      }
    }
  }

  .title {
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 1vh;
    animation: slide-in ease 0.35s;
    margin-top: -40px;
  }

  .sub-title {
    animation: slide-in ease 0.4s;
    margin-top: -23px;
    width: 100px;
  }

  .actions {
    margin-top: 5vh;
    margin-bottom: 2vh;
    animation: slide-in ease 0.45s;
    display: flex;
    justify-content: center;
    font-size: 12px;

    .skip {
      margin-left: 10px;
    }
  }

  .masks {
    flex-grow: 1;
    width: 100%;
    overflow: auto;
    align-items: center;
    padding-top: 20px;
    margin-top: 30px;

    $linear: linear-gradient(
      to bottom,
      rgba(157, 158, 211),
      rgba(0, 0, 0, 1),
      rgba(157, 158, 211)
    );

    -webkit-mask-image: $linear;
    mask-image: $linear;

    animation: slide-in ease 0.5s;

    .mask-row {
      display: flex;
      margin-bottom: 10px;

      @for $i from 1 to 5 {
        &:nth-child(#{$i * 2}) {
          margin-left: 50px;
        }
      }

      .mask {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 14px;
        border: var(--border-in-light);
        box-shadow: var(--card-shadow);
        background-color: var(--white);
        margin-right: 10px;
        max-width: 8em;
        transform: scale(1);
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
          transform: translateY(-5px) scale(1.1);
          z-index: 999;
          border-color: var(--primary);
        }

        .mask-name {
          margin-left: 10px;
          font-size: 14px;
        }
      }
    }
  }
}
